* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #131722;
}

/* ---- header ---- */


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: #000;
    position: fixed;
    z-index: 3;
}

.left_nav img {
    width: 150px;
    margin-left: 20px;
}

.right_nav {
  margin-right: 40px;
}




/* ---- fine header ---- */

/* ---- mainApp ---- */
.container-main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    overflow-y: auto;
}

/* ---- fine mainApp ---- */

/* container box film */

.dir-row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}






.flag {
    width: 30px;
}