* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #131722;
}

/* ---- header ---- */


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: #000;
    position: fixed;
    z-index: 1;
}

.left_nav img {
    width: 150px;
    margin-left: 20px;
}

.right_nav {
  margin-right: 40px;
}

.input-search {
    border: none;
    border-radius: 30px;
    padding: 5px;
}

.cerca {
    color: red;
}

.search {
    padding: 5px;
    border: none;
    border-radius: 30px;

}




/* ---- fine header ---- */

/* ---- mainApp ---- */
.container-main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    overflow-y: auto;
}

/* ---- fine mainApp ---- */

/* container box film */

.dir-row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.flag {
    width: 30px;
    vertical-align: middle;
}

.vote i.fas{
    color: red;
}

.poster-img {
    width: 342px;
    height: 513px;
    border-radius: 20px;

}

.wrapper-template {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    margin: 10px;
}

.info {
    overflow: hidden;
}

.container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: lightgrey;
    border: 2px solid #ffffff;
    border-radius: 20px;
    display: none;
}

.wrapper-template:hover .container-overlay {
    display: block;
}

li, ul.overlay {
    list-style: none;
}