* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-main {
    padding-left: 40px;
}

.right_search {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: red;
}

.input-search {
    display: flex;
    align-self: center;
    width: 100px;
    height: 50px;
}


.flag {
    width: 30px;
}

.poster-img {
    width: 100px;
}